@charset "UTF-8";

/* Basic layout */
#ShareoneDrive{
  font: 1.1em "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  line-height: 1.6;
  text-align: right;
  margin-bottom: 10px;
}

#ShareoneDrive div,#ShareoneDrive p, #ShareoneDrive ul, #ShareoneDrive ul {
  margin:0;
  padding:0;
}
#ShareoneDrive div, #ShareoneDrive input{
  box-sizing:border-box;
  -moz-box-sizing: border-box;
}

#ShareoneDrive a{
  text-decoration: none;
  border:0;
  -webkit-box-shadow:none;
  box-shadow: none;
}
#ShareoneDrive a:hover{
  text-decoration: none;
}
#ShareoneDrive img{
  vertical-align: initial;
}

#ShareoneDrive .button,
.ShareoneDrive .button{
  width: auto;
  min-width: 150px;
  height: auto;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow:none; 
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -webkit-appearance: none;
  border:0;
}
#ShareoneDrive .button:hover,
.ShareoneDrive .button:hover{
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    0px 0px 8px 0px rgba(0, 0, 0, 0.4); 
  border:0;
  font-weight: bold;
}

.ShareoneDrive.jsdisabled,
#ShareoneDrive .jsdisabled{
  display: none;
}
#ShareoneDrive-nojsmessage{
  font-style:italic;
}

#ShareoneDrive .list-container.noaccess{
  text-align: center;
  padding: 10px;
}

/* Container */
#ShareoneDrive .list-container{
  position: relative;
  padding: 0;
  z-index: 2;
}

#ShareoneDrive .file-container{
  position: relative;
}

#ShareoneDrive .ajax-filelist{
  font-size: 75%;
  padding: 10px;
  min-height: 256px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
  -ms-filter: 'alpha(opacity=100)';
}

#ShareoneDrive .fileuploadform{
  border-width: 2px;
  border-style: dashed;
}

#ShareoneDrive.audio,
#ShareoneDrive.video{
  background: none!important;
}

/* Loading Divs*/
#ShareoneDrive .loading{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 256px auto;
}

#ShareoneDrive  div.preloading{
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
  border-radius: 100% !important;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  right: 50%;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 0;
  }
}

#ShareoneDrive .loading.error .loader-beat,
#ShareoneDrive .loading.error .loader-spinner{
  display:none;
}


#ShareoneDrive .loading .loader-beat{
  position: absolute;
  top: 50%;
  right: 50%;
  top: calc(50% - 8px);
  right: calc(50% - 8px);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  z-index: 1;
  animation: overlay-loader-beat 0.8s infinite 0s;
  opacity: .5;
}
#ShareoneDrive .loading .loader-spinner {
  animation: loader-full-rotate 2s linear infinite;
  width: 65px;
  height: 65px;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
#ShareoneDrive .loading .path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: loader-full-dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@keyframes overlay-loader-beat{0%{opacity:0}100%{opacity:1}}
@keyframes loader-full-dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:89,200;stroke-dashoffset:-35px}100%{stroke-dasharray:89,200;stroke-dashoffset:-124px}}


/* Header */
#ShareoneDrive .nav-header{
  min-height:38px;
  padding: 5px 15px;
  border-width: 0 0 1px 0;
  border-style: solid;
  display: table;
  width: 100%;

}
#ShareoneDrive .nav-header a:hover,
#ShareoneDrive .column_names a:hover{
  font-weight: bold;
}
#ShareoneDrive .nav-title{
  font-size: 14px;
  display: table-cell;
}

/* Header buttons */
#ShareoneDrive .nav-home,
#ShareoneDrive .nav-refresh,
#ShareoneDrive .nav-search,
#ShareoneDrive .nav-gear{
  display: table-cell;
  width: 25px;
}

#ShareoneDrive .nav-home i{
  font-size: 1.2em;
  cursor: pointer;
}

#ShareoneDrive .nav-refresh i,
#ShareoneDrive .nav-search i,
#ShareoneDrive .nav-gear i{
  margin-top: 3px;
  font-size: 1.2em;
  margin-right: .5em;
  cursor: pointer;
}

#ShareoneDrive .search-div{
  display: none;
}

#ShareoneDrive .download-zip{
  position: relative;
  left:0px;
  float: left;
}

#ShareoneDrive .zip-status{
  font-size: 80%;
}

#ShareoneDrive .zip-status .zip-bytes{
  margin-right:10px;
  font-style: italic;
}
#ShareoneDrive div.scroll-to-top{
  position: absolute;
  left: 0px;
  cursor: pointer;
  padding: 15px;
  display:none;
}
#ShareoneDrive div.scroll-to-top a{
  opacity: 0.4;
}
#ShareoneDrive div.scroll-to-top a:hover{
  opacity: 1;
}

/* Files and folders*/
#ShareoneDrive .files .entry{
  padding: 5px 10px 5px 10px;
  margin: 5px;
  clear: both;
  min-height: 35px;
  line-height: 25px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#ShareoneDrive .entry img {
  opacity: 1;
  transition: opacity 0.5s;
}

#ShareoneDrive .entry img[data-src] {
  opacity: 0;
}

#ShareoneDrive .files .column_names{
  clear: both;
  min-height: 30px;
  padding: 5px 20px 5px 20px;
}

#ShareoneDrive .sod-grid .layout-grid{
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
}

#ShareoneDrive .sod-grid .entry{
  padding: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  position: relative;
  border-radius: 2px;
  margin: 5px;
  transition: all .2s ease-in-out;
}

#ShareoneDrive .entry,
#ShareoneDrive .template-upload,
#ShareoneDrive .template-download,
#ShareoneDrive .image-container{
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}
#ShareoneDrive .hasfocus,
#ShareoneDrive .isselected,
#ShareoneDrive .popupopen,
#ShareoneDrive .isdragged{
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

#ShareoneDrive .sod-grid .entry_thumbnail{
  width: 100%;
  height: 120px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#ShareoneDrive .sod-grid .entry_thumbnail-view-bottom{
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
#ShareoneDrive .sod-grid .entry_thumbnail-view-center{
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}
#ShareoneDrive .sod-grid .entry_thumbnail img{
  max-width: none;
  max-height: 100%;
  min-width: 100px;
  min-height: 100px;
  margin-right: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  vertical-align: top;
  transition: opacity .3s ease-in;
  -ms-interpolation-mode: bicubic;
  box-shadow: none;
}

#ShareoneDrive .sod-grid .entry.hasfocus .entry_link,
#ShareoneDrive .sod-grid .entry.popupopen .entry_link,
#ShareoneDrive .sod-grid .entry:hover .entry_link{
  font-weight: bold;
}

#ShareoneDrive .folder .entry_name,
#ShareoneDrive .folder .entry_name a{
  font-weight: bold;
}

#ShareoneDrive .sod-list .entry_name{
  margin-right: 6px;
  margin-left: 5px;
  text-align: right;
  word-wrap: break-word;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#ShareoneDrive .sod-grid .entry_name{
  line-height: 40px;
  text-align: center;
}

#ShareoneDrive .sod-grid .entry_name .entry-name-view{
  display: inline-block;
  padding: 1px 10px;
  max-width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  overflow: hidden;
}
#ShareoneDrive .sod-grid .entry_name .entry-name-view span,
#ShareoneDrive .sod-grid .entry_name .entry-name-view span strong{
  white-space: nowrap;
}

#ShareoneDrive .entry_link{

}
#ShareoneDrive .sod-grid .entry_link{
  display: inline;
  width:100%;
}

#ShareoneDrive .entry_size{
  float: left;
  font-size: 95%;
  width: 75px;
  text-align: left;
}

#ShareoneDrive .entry:hover .entry_checkbox,
#ShareoneDrive .entry.hasfocus .entry_checkbox,
#ShareoneDrive .entry.popupopen .entry_checkbox,
#ShareoneDrive .entry.isselected .entry_checkbox{
  display:inline-block; 
}

#ShareoneDrive .sod-list .entry_checkbox,
#ShareoneDrive .sod-list .entry_checkallbox{
  float:left;
  height: 16px;
  width: 16px;
  margin-right: 5px;
  z-index: 10;
  margin-top: 3px;
}
#ShareoneDrive .gridgallery .entry_checkbox,
#ShareoneDrive .sod-grid .entry_checkbox{
  position: absolute;
  top: 6px;
  right: 8px;
}
#ShareoneDrive .entry_lastedit{
  font-size: 95%;
  min-width: 10%;
  width: 185px;
  text-align: right;
  float:left;
}

#ShareoneDrive .sod-grid .entry_description,
#ShareoneDrive .gridgallery .entry_description{
  top: -3px;
  padding: 3px 5px;
  float:left;
}

#ShareoneDrive .description_textbox{
  display: none;
}

#ShareoneDrive .entry_foundpath{
  font-size: 95%;
}

#ShareoneDrive .no_results{
  background:url(clouds/cloud_status_128.png) center top no-repeat;
  padding-top: 120px;
  text-align: center;
  font-style: italic;
  height: 140px;
}

/* Column Sorting */
#ShareoneDrive .column_names {
  font-size: 80% !important;
}
#ShareoneDrive .files.sod-grid .column_names {
  display:none;
}

#ShareoneDrive .column_names .sortable{
  cursor: pointer;
}

#ShareoneDrive .column_names .entry_name,
#ShareoneDrive .column_names .entry_size,
#ShareoneDrive .column_names .entry_lastedit{
  font-size: 100%;
}

#ShareoneDrive .column_names .entry_size{
  margin-left: 35px;
}


#ShareoneDrive .sort_icon{
  width: 21px;
  height: 4px;
  top: 8px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  position: relative;
}
#ShareoneDrive .column_names .desc .sort_icon{
  background-image:  url(images/desc.gif);
}
#ShareoneDrive .column_names .asc .sort_icon{
  background-image:  url(images/asc.gif);
}

/* Search Form */
.ShareoneDrive .search-remove{
  position: absolute;
  cursor: pointer;
  left: 15px;
  top: 13px;
  font-size: 140%;
}

.ShareoneDrive .search-input{
  width: 100%;
  margin: 0 !important;
  background: url(images/search.png) 5px center no-repeat;
  border-style: solid;
  border-width: 1px;
  padding: 6px 25px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  font-size: 150%;
}
.ShareoneDrive .search-div{
  margin: 10px;
}

/* Large Search Box */
#ShareoneDrive .searchlist .nav-header{
  border-width:1px;
}
#ShareoneDrive .searchlist .search-input{
  width: 100%;
  background:transparent;
  border:1px solid transparent;
  padding: 10px 10px 10px 50px;
  font-size: 100%;
}

#ShareoneDrive .searchlist .search-input:focus{
  outline:none;
}

#ShareoneDrive .searchlist .search-div{
  padding:10px;
  clear:both;
  width: 100%;
}

#ShareoneDrive .searchlist .search-div{
  display: block;
  position: relative;
  vertical-align: middle;
}
#ShareoneDrive .searchlist .search-div i{
  position:absolute;
  font-size: 100%;
  vertical-align:middle;
  padding:10px;
}
#ShareoneDrive .searchlist .search-options-menu{
  display:none!important;
}
#ShareoneDrive .searchlist .search-options-menu i {
  font-size: 100%;
}
#ShareoneDrive .searchlist .search-div .submit-search{
  left:10px;
}

#ShareoneDrive .searchlist .loading,
#ShareoneDrive .searchlist .ajax-filelist  {
  display: none;
}

#ShareoneDrive .searchlist .ajax-filelist  {
  max-height: 50vh;
  overflow-y: auto;
}

/* Menus*/
#ShareoneDrive .sod-list .entry_edit_placheholder:empty,
#ShareoneDrive .entry_edit:empty{
  display: none;
}
#ShareoneDrive .sod-list .entry_edit_placheholder,
#ShareoneDrive .sod-list .entry_edit {
  float:left;
  margin-right: 10px;
  width: 45px;
  height: 13px;
  display: none;
  background: none;
}

#ShareoneDrive .gridgallery .entry .entry_edit,
#ShareoneDrive .sod-grid .entry .entry_edit{
  background-color: #7a7a7a;
  background-color: rgba(0, 0, 0, 0.5);
}

#ShareoneDrive .entry.hasfocus .entry_edit,
#ShareoneDrive .entry.popupopen .entry_edit,
#ShareoneDrive .gridgallery .entry.isselected .entry_edit{
  opacity: 1;
  -ms-filter: 'alpha(opacity=100)';
}

#ShareoneDrive .sod-list .entry_edit_placheholder{
  display: block;
}

#ShareoneDrive .sod-grid .entry_edit,
#ShareoneDrive .gridgallery .entry_edit {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 30px;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  transition: all .2s ease-in-out;
}

#ShareoneDrive .gridgallery .entry_edit {
  height: 25px;
}

#ShareoneDrive .sod-list .popupopen .entry_edit,
#ShareoneDrive .sod-list .hasfocus .entry_edit{
  display: block;
}

#ShareoneDrive .entry_edit_menu {
  cursor: pointer;
}
#ShareoneDrive .sod-list .entry_edit_menu {
  margin-right: 5px;
}
#ShareoneDrive .sod-grid .entry_edit_menu,
#ShareoneDrive .gridgallery .entry_edit_menu {
  float:left;
  top: 3px;
  padding: 3px 5px;
  margin: 0 0 0 5px;
}
#ShareoneDrive .gridgallery .entry_edit_menu{
  top: -2px;
  margin:0;
}


.ShareoneDrive .gear-menu,
.ShareoneDrive .download-zip-menu,
.ShareoneDrive .sod-dropdown-menu{
  display: none;
  font-size: 140%;
}
.ShareoneDrive .gear-menu ul,
.ShareoneDrive .download-zip-menu ul,
.ShareoneDrive .sod-dropdown-menu ul{
  list-style: none;
  overflow: hidden;
  padding: 4px 0;
  margin: 0;
  font-size: 60%;
}
.ShareoneDrive .gear-menu li,
.ShareoneDrive .download-zip-menu li,
.ShareoneDrive .sod-dropdown-menu li {
  list-style: none;
  padding: 0 0;
  margin: 0;
  line-height: 18px;
}
.ShareoneDrive .gear-menu li > a,
.ShareoneDrive .download-zip-menu li > a,
.ShareoneDrive .sod-dropdown-menu li > a{
  display: block;
  text-decoration: none;
  line-height: 18px;
  padding: 10px 20px;
  white-space: nowrap;
  width: 100%;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.ShareoneDrive .gear-menu li >a:hover,
.ShareoneDrive .download-zip-menu li >a:hover,
.ShareoneDrive .sod-dropdown-menu li > a:hover {
  cursor: pointer;
}
.ShareoneDrive .gear-menu  li i,
.ShareoneDrive .download-zip-menu li i,
.ShareoneDrive .sod-dropdown-menu li i{
  width:25px;
  margin-left:10px;
}


/* FileUpload Form */
#ShareoneDrive .fileuploadform{
  font-size: 90%;
  position: relative;
  overflow: hidden;
}

#ShareoneDrive .fileuploadform * {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#ShareoneDrive .fileupload-list{
  min-height: 170px;
  padding: 30px 30px 15px;
  position: relative;
  cursor: pointer;
}

#ShareoneDrive div.fileupload-drag-drop{
  position: absolute;
  height: 100%;  
  width: 100%;
  text-align: center;
}

#ShareoneDrive div.fileupload-drag-drop div{
  text-align: center;
  position: absolute;
  top: 45px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

#ShareoneDrive div.fileupload-drag-drop p {
  padding: 10px;
}


#ShareoneDrive .fileupload-browse-button{
  width: 100%;
  height: 100%;
  transform:none;
}

#ShareoneDrive .fileupload-buttonbar{
  text-align: center;
  padding: 20px 0px;
  position: relative;
  overflow: hidden;
}

#ShareoneDrive .fileupload-buttonbar-text{
  line-height: 2;
  margin-bottom: 10px;
  display: block;
  position: relative;
  text-align: center;
}

#ShareoneDrive .fileupload-buttonbar .ui-button{
  float: none !important; /* overrule jQuery UI CSS */
}
#ShareoneDrive .ui-button-text, #ShareoneDrive .fileupload-browse-button{
  cursor: pointer;
}

#ShareoneDrive .upload-btn-container{
  position:relative;
  display: inline-block;
  overflow: hidden
}

#ShareoneDrive .upload-input-button{
  position: absolute;
  top: 0;
  left:0;
  margin: 0; 
  font-size: 2em;
  direction:rtl;
  cursor: pointer;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  display: block;
}

#ShareoneDrive .template-row{
  display:none;
}

#ShareoneDrive .template-upload,
#ShareoneDrive .template-download{
  display:block;
  margin: 0 0 15px;
  padding:10px;
  overflow: hidden;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
}

#ShareoneDrive .upload-thumbnail{
  float: right;
}

#ShareoneDrive .upload-thumbnail img{
  border-radius: 10px;
  width: 48px;
  height:48px;
}

#ShareoneDrive .upload-file-info{
  margin-right: 60px;
  margin-top:6px;
  min-height: 48px;
  position: relative;
}

#ShareoneDrive .file-name{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#ShareoneDrive .file-size{
  font-size: 80%;
  float: left;
  margin-right: 10px;
  margin-top: 1px;
}

#ShareoneDrive .max-file-size,
#ShareoneDrive .file-formats{
  font-weight: bold;
}
#ShareoneDrive .fileupload-info-container{
  width: 100%;
  font-size: 80%;
  text-align: center;
  padding: 10px 0;
}

#ShareoneDrive .upload-status-container{
  text-transform: uppercase;
  font-size: 90%;
  font-weight: bold;
  margin-right: 15px;
  float: left;
}

#ShareoneDrive .upload-status-container .queue{}
#ShareoneDrive .upload-status-container .error{}
#ShareoneDrive .upload-status-container .succes{}

#ShareoneDrive .upload-error{
  text-decoration: underline;
  display: none;
}

#ShareoneDrive .upload-progress{
  display: none;
  box-shadow: inset 0px 0px 8px 0px #D9D9D3;
  -webkit-box-shadow: inset 0px 0px 8px 0px #D9D9D3;
  -moz-box-shadow: inset 0px 0px 8px 0px #D9D9D3;
}

#ShareoneDrive .upload-progress .progress{
  height: 10px;
  padding: 0px !important;
  background: none;
  margin-top:5px;
}

#ShareoneDrive .upload-progress .ui-progressbar-value{
  height: 10px;
  border:0;
  box-shadow: inset 0px 0px 8px 0px #505050;;
  -webkit-box-shadow: inset 0px 0px 8px 0px #505050;;
  -moz-box-shadow: inset 0px 0px 8px 0px #505050;;

}

#ShareoneDrive .template-upload .ui-icon,
#ShareoneDrive .template-download .ui-icon{
  margin-right: 5px;
  margin-top: 1px;
}

/* ShareoneDrive Gallery */
#ShareoneDrive .image-collage{
  /*This is where you set the padding you want between the images*/
  padding:5px !important;
  margin:0 !important;
  border:0 !important;
  font-size: 100% !important;
  position: static;
  overflow: hidden;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
}

#ShareoneDrive .image-collage img{
  margin:0;
  padding:0;
  vertical-align:bottom;
  opacity:1;
  -ms-filter: 'alpha(opacity=100)';
  max-width: none !important;
  border-radius: 0 !important;
  /*This is where you set the border you want for the image*/
  border:0px solid #FFF;
  transition: opacity .3s ease-in;
  -webkit-transition: opacity .3s ease-in-out;
}

#ShareoneDrive .image-container{
  /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
  opacity:1;
  -ms-filter: 'alpha(opacity=100)';
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float:right;
}

#ShareoneDrive .image-container.hidden,
#ShareoneDrive .image-container img.hidden{
  display:none;
  opacity:0;
  -ms-filter: 'alpha(opacity=0)';
}

#ShareoneDrive .image-container.entry{
  padding:0 !important;
  cursor: pointer;
}

#ShareoneDrive .folder-thumb{
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  right: 0px;
}

#ShareoneDrive .image-folder:hover{
  cursor: pointer;
}

#ShareoneDrive .image-folder img{
  background: none !important;
  z-index: 1;
  position: absolute;
}

#ShareoneDrive .image-folder.newfolder img{
  position: relative;
}

#ShareoneDrive .image-rollover{
  background:url(images/mag.png) center center no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px  #000;
  box-shadow: 0px 0px 4px  #000;
}

#ShareoneDrive .image-container .entry-text,
#ShareoneDrive .image-folder .folder-text {
  position: absolute;
  padding: 5px 0px 10px!important;
  bottom: 0;
  font-weight: bold;
  font-size: 130%;
  width: 100%;
  text-align: center;
  z-index: 2;
}

/* iLightbox  Iframe*/
.ilightbox-holder.ShareoneDrive{
  /* BUG FIX to hide the prev and next containers in case the content of the page is smaller than the window*/
  top: -2000px;
}

.ilightbox-holder.ShareoneDrive a{color: #FFF;}


.ilightbox-holder.ShareoneDrive iframe,
.ilightbox-holder.ShareoneDrive .ilightbox-image{
  background:none;
  z-index: 2;
  position: relative;
}

.ilightbox-holder.ShareoneDrive div.ilightbox-container {
} 

.ilightbox-holder.ShareoneDrive div.ilightbox-container audio{
  position:absolute;
  bottom:0px;
  width:100%;
}
.ilightbox-holder.ShareoneDrive div.ilightbox-container .html5_player{
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.ilightbox-holder.ShareoneDrive div.ilightbox-container .html5_player_container{
  display: table-cell;
  vertical-align: middle;
}
.ilightbox-holder.ShareoneDrive div.ilightbox-container .html5_player_container div{
  margin-right: auto;
  margin-left: auto; 
  width: 256px;
}

.ilightbox-holder.ShareoneDrive div.ilightbox-container .html5_player_thumbnail{
  width: initial !important;
  min-width:256px;
  text-align: center; 
  border-radius: 2px;
  background: white;

}

.ilightbox-holder.ShareoneDrive div.ilightbox-container .html5_player_thumbnail h3{
  padding: 10px;
}

.ilightbox-holder.ShareoneDrive .ilightbox-caption{
  text-shadow:none !important;
  font-size: 1em !important;
}

.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail{
  min-width: 60px;
  width: auto!important;

}

.ilightbox-thumbnails.ilightbox-vertical .ilightbox-thumbnail{
  min-width:100px;
  height: auto!important;
}

.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail img{
  width: auto;
}

.ilightbox-thumbnails.ilightbox-vertical .ilightbox-thumbnail img{
  height: auto;
}

.ShareoneDrive .empty_iframe{
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  height: 100%;
  background-image: url(images/loader_protected.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-top:0;
  background-color: #FFF;
  border-radius: 10px;
}

.ShareoneDrive .empty_iframe h1{
  margin-top: 170px;
}
.ShareoneDrive .empty_iframe span{
  display: block;
  padding: 0 20px;
  margin: 0 auto;
}
.ShareoneDrive .empty_iframe a.empty_iframe_link{
  color: inherit;
  text-decoration: underline;
}
/*jQuery UI CSS overrule*/
#ShareoneDrive .fileupload-list .ui-icon{
  float: left;
  margin-right: 5px;
  margin-top: 1px;
}

.ShareoneDrive .ui-droppable.entry,
.ShareoneDrive .ui-draggable-dragging.entry {
  -webkit-transition: none!important;
  -moz-transition: none!important;
  -ms-transition: none!important;
  -o-transition: none!important;
  transition: none!important;
}

.ShareoneDrive .ui-droppable.entry.ui-state-hover{
  border:0;
  background: none;
  opacity: 0.5;
  -ms-filter: 'alpha(opacity=50)';
}
.ShareoneDrive .ui-droppable.entry.ui-state-active{
  border:0;
  background: none;
  opacity: 0.9;
  -ms-filter: 'alpha(opacity=90)';
}

/* qTip custom CSS */
.ShareoneDrive .qtip-content {
  padding: 0 !important;
  font: 1.1em "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  line-height: 1.6;
  text-align: right;
  max-width: 500px;
}

.sod-mobile .qtip-default.ShareoneDrive{
  max-width: 225px;
}

.qtip-default.ShareoneDrive.description .qtip-content .description_title{
  display: block;
  font-weight: bold;
  padding: 5px 5px 5px 40px;
  line-height: 1.4em;
  font-size: 90%;
}
.qtip-default.ShareoneDrive.description .qtip-content .description_text{
  font-size: 70%;
  padding:5px;
  max-height: 150px;
  overflow-y: auto;
}
.qtip-default.ShareoneDrive.description .entry_edit_description{
  float: left;
  margin: 1px 6px 2px 6px;
}
.qtip-default.ShareoneDrive.description .entry_edit_description a{
  cursor:pointer;
}
.qtip-default.ShareoneDrive.description .entry_edit_description a:hover{
  text-decoration: none;
}

.qtip-default.ShareoneDrive.description textarea{
  width: 100%;
  height: 100px;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  font: 1.1em "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}
.qtip-default.ShareoneDrive.description input[type="button"]{
  float: left;
  margin-top: 5px;
}

.qtip-default.ShareoneDrive.description .ajaxprocess {
  float: left;
  margin: 3px 0 0 5px;
}

.qtip-default.ShareoneDrive.description{
  padding: 10px;
}

.qtip-default.ShareoneDrive.description,
.qtip-default.ShareoneDrive{
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  font: 1.1em "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  line-height: 1.6;
  border: 0;
  max-width: initial;
}
.qtip-default.ShareoneDrive.search {
  font-size: 70%;
}

.qtip-default.ShareoneDrive .qtip-icon{
  background: transparent;
  color:inherit;
}

/* Rmodal */
body.shareonedrive-modal-open {
  overflow-x: hidden;
  overflow-y: auto;
}

.ShareoneDrive.shareonedrive-modal {
  display: none;
  background: rgba(0, 0, 0, .30);
  z-index: 10000;
  padding: 30px;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  overflow-x: hidden;
  overflow-y: auto;
}

.ShareoneDrive.shareonedrive-modal .modal-dialog {
  position: relative;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 6px;
}

.ShareoneDrive.shareonedrive-modal.shareonedrive-modal80 .modal-dialog{
  max-width:80%;
}

.ShareoneDrive.shareonedrive-modal .modal-content {
  position: relative;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 30px;
}

.ShareoneDrive .shareonedrive-modal-header {
  min-height: 16.43px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.ShareoneDrive .shareonedrive-modal-body {
  padding: 20px 0;
  position: relative;
}

.ShareoneDrive .shareonedrive-modal-body span.download-link{
  display: block;
  overflow: hidden;
}

.ShareoneDrive .shareonedrive-modal-body ul.files li {
  margin-left: 5px;
  padding: 5px;
  font-size: 80%;
  display: inline-block;
}
.ShareoneDrive .shareonedrive-modal-body ul.files li .shareonedrive-modal-file-icon{
  position: absolute;
}
.ShareoneDrive .shareonedrive-modal-body ul.files li img{
  width: auto!important;
  height: 24px;
  max-height: 24px;
  float: right;
}
.ShareoneDrive .shareonedrive-modal-body ul.files li span{
  height: 24px;
  line-height: 24px;
  margin-right: 15px;
}

.ShareoneDrive .shareonedrive-modal-image{
  width: 150px;
  height: 150px;
  float: right;
  margin-left: 20px;
  position: relative;
}

.ShareoneDrive .shareonedrive-modal-image img{
  max-width: 150px;
  max-height: 150px;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.ShareoneDrive .shareonedrive-modal-description {
  margin-bottom: 10px;
  max-height: 150px;
  overflow: auto;
}

.ShareoneDrive .shareonedrive-modal-footer {
  display: block;
  padding-top: 20px;
  text-align: right;
}

.ShareoneDrive .shareonedrive-modal-buttons button {
  margin: 0 0 2px 5px;
  min-height: 35px;
}

.ShareoneDrive.shareonedrive-modal .close-button{
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.ShareoneDrive .shareonedrive-modal-error{
  color: red;
  border-right: 3px solid red;
  margin: 10px 0px;
  padding: 6px;
  background: rgba(181, 181, 181, 0.16);
  display: none;
}


/* Small screens */
@media only screen and (max-width: 480px){

  #ShareoneDrive .nav-title {
    margin-right: 0;
    margin-left: 0;
    margin-top: 28px;
  }
  #ShareoneDrive .column_names .entry_lastedit{
    display: none;
  }
  #ShareoneDrive .entry_lastedit {
    clear:both;
    float:right;
    margin-right: 23px;

  }
  #ShareoneDrive .upload-status-container {
    float:none;
    margin-right: 0;
  }

  #ShareoneDrive .upload-btn-container {
    margin: 10px 0px;
  }

  #ShareoneDrive .upload-progress,
  #ShareoneDrive .upload-error {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 480px) and (max-width : 768px) {
  #ShareoneDrive .column_names .entry_lastedit{
    display: none;
  }

  #ShareoneDrive .entry_lastedit{
    clear:both;
    float:right;
    margin-right: 23px;
  }

  #ShareoneDrive .upload-btn-container {
    margin: 10px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width : 990px) {

}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

  #ShareoneDrive .loading,
  #ShareoneDrive .jp-jplayer,
  #ShareoneDrive .loading.initialize,
  #ShareoneDrive .loading.upload,
  #ShareoneDrive .loading.error,
  #ShareoneDrive .no_results{
    background-size: 128px 128px;
  }

  #ShareoneDrive .gridgallery img.preloading,
  #ShareoneDrive .sod-grid .entry_thumbnail img.preloading{
    background-size: 64px 64px;
  }
}

/* Touch screens - Detected by WordPres */
.sod-mobile #ShareoneDrive .entry_checkbox{
  display: inline-block;
}

.sod-mobile #ShareoneDrive .files.sod-list .entry{
  padding: 5px;
}
.sod-mobile #ShareoneDrive .files.sod-list .column_names {
  padding: 0px 15px;
}

.sod-mobile #ShareoneDrive .files.sod-list .entry_icon{
  margin-top: 3px;
}
.sod-mobile .ilightbox-button{
  display:none;
}
.sod-mobile #ShareoneDrive .sod-grid .entry_edit, .sod-mobile #ShareoneDrive .gridgallery .entry_edit{
  opacity: 1;
}
.sod-mobile #ShareoneDrive .sod-grid .entry_edit:empty, .sod-mobile #ShareoneDrive .gridgallery .entry_edit:empty{
  opacity: 0;
}

.sod-mobile #ShareoneDrive .sod-list .entry_edit{
  display:inline-block
}

/* Icons 16x16*/
#ShareoneDrive .entry_icon{
  float: right;
  margin-top: 3px;
  margin-left: 8px;
  height: 16px;
  width: 16px;
}
#ShareoneDrive .entry_icon img{
  height: 16px;
  width: 16px;
}
/* Admin screen*/
#icon-ShareoneDrive {
  background: transparent url( 'images/onedrive_logo.png' ) no-repeat;
}
.adminfilebrowser #ShareoneDrive .ajax-filelist {
  font-size: 100%;
}

.sod-hidepopout{
  width: 55px;
  height: 55px;
  position: absolute;
  opacity: 1;
  left: 0px;
  top: 0px;
  z-index: 10000000;
  background-color: transparent;
  cursor: not-allowed;
}



/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s}.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY{-webkit-animation-duration:.75s;animation-duration:.75s}@-webkit-keyframes bounce{0%,20%,53%,80%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1);-webkit-transform:translateZ(0);transform:translateZ(0)}40%,43%{-webkit-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0)}40%,43%,70%{-webkit-animation-timing-function:cubic-bezier(.755,.05,.855,.06);animation-timing-function:cubic-bezier(.755,.05,.855,.06)}70%{-webkit-transform:translate3d(0,-15px,0);transform:translate3d(0,-15px,0)}90%{-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}}@keyframes bounce{0%,20%,53%,80%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1);-webkit-transform:translateZ(0);transform:translateZ(0)}40%,43%{-webkit-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0)}40%,43%,70%{-webkit-animation-timing-function:cubic-bezier(.755,.05,.855,.06);animation-timing-function:cubic-bezier(.755,.05,.855,.06)}70%{-webkit-transform:translate3d(0,-15px,0);transform:translate3d(0,-15px,0)}90%{-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}}.bounce{-webkit-animation-name:bounce;animation-name:bounce;-webkit-transform-origin:center bottom;transform-origin:center bottom}@-webkit-keyframes flash{0%,50%,to{opacity:1}25%,75%{opacity:0}}@keyframes flash{0%,50%,to{opacity:1}25%,75%{opacity:0}}.flash{-webkit-animation-name:flash;animation-name:flash}@-webkit-keyframes pulse{0%{-webkit-transform:scaleX(1);transform:scaleX(1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}to{-webkit-transform:scaleX(1);transform:scaleX(1)}}@keyframes pulse{0%{-webkit-transform:scaleX(1);transform:scaleX(1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}to{-webkit-transform:scaleX(1);transform:scaleX(1)}}.pulse{-webkit-animation-name:pulse;animation-name:pulse}@-webkit-keyframes rubberBand{0%{-webkit-transform:scaleX(1);transform:scaleX(1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}to{-webkit-transform:scaleX(1);transform:scaleX(1)}}@keyframes rubberBand{0%{-webkit-transform:scaleX(1);transform:scaleX(1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}to{-webkit-transform:scaleX(1);transform:scaleX(1)}}.rubberBand{-webkit-animation-name:rubberBand;animation-name:rubberBand}@-webkit-keyframes shake{0%,to{-webkit-transform:translateZ(0);transform:translateZ(0)}10%,30%,50%,70%,90%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}20%,40%,60%,80%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}}@keyframes shake{0%,to{-webkit-transform:translateZ(0);transform:translateZ(0)}10%,30%,50%,70%,90%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}20%,40%,60%,80%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}}.shake{-webkit-animation-name:shake;animation-name:shake}@-webkit-keyframes headShake{0%{-webkit-transform:translateX(0);transform:translateX(0)}6.5%{-webkit-transform:translateX(6px) rotateY(-9deg);transform:translateX(6px) rotateY(-9deg)}18.5%{-webkit-transform:translateX(-5px) rotateY(7deg);transform:translateX(-5px) rotateY(7deg)}31.5%{-webkit-transform:translateX(3px) rotateY(-5deg);transform:translateX(3px) rotateY(-5deg)}43.5%{-webkit-transform:translateX(-2px) rotateY(3deg);transform:translateX(-2px) rotateY(3deg)}50%{-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes headShake{0%{-webkit-transform:translateX(0);transform:translateX(0)}6.5%{-webkit-transform:translateX(6px) rotateY(-9deg);transform:translateX(6px) rotateY(-9deg)}18.5%{-webkit-transform:translateX(-5px) rotateY(7deg);transform:translateX(-5px) rotateY(7deg)}31.5%{-webkit-transform:translateX(3px) rotateY(-5deg);transform:translateX(3px) rotateY(-5deg)}43.5%{-webkit-transform:translateX(-2px) rotateY(3deg);transform:translateX(-2px) rotateY(3deg)}50%{-webkit-transform:translateX(0);transform:translateX(0)}}.headShake{-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-name:headShake;animation-name:headShake}@-webkit-keyframes swing{20%{-webkit-transform:rotate(-15deg);transform:rotate(-15deg)}40%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}60%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}80%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}to{-webkit-transform:rotate(0deg);transform:rotate(0deg)}}@keyframes swing{20%{-webkit-transform:rotate(-15deg);transform:rotate(-15deg)}40%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}60%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}80%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}to{-webkit-transform:rotate(0deg);transform:rotate(0deg)}}.swing{-webkit-transform-origin:top center;transform-origin:top center;-webkit-animation-name:swing;animation-name:swing}@-webkit-keyframes tada{0%{-webkit-transform:scaleX(1);transform:scaleX(1)}10%,20%{-webkit-transform:scale3d(.9,.9,.9) rotate(3deg);transform:scale3d(.9,.9,.9) rotate(3deg)}30%,50%,70%,90%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate(-3deg);transform:scale3d(1.1,1.1,1.1) rotate(-3deg)}40%,60%,80%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate(3deg);transform:scale3d(1.1,1.1,1.1) rotate(3deg)}to{-webkit-transform:scaleX(1);transform:scaleX(1)}}@keyframes tada{0%{-webkit-transform:scaleX(1);transform:scaleX(1)}10%,20%{-webkit-transform:scale3d(.9,.9,.9) rotate(3deg);transform:scale3d(.9,.9,.9) rotate(3deg)}30%,50%,70%,90%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate(-3deg);transform:scale3d(1.1,1.1,1.1) rotate(-3deg)}40%,60%,80%{-webkit-transform:scale3d(1.1,1.1,1.1) rotate(3deg);transform:scale3d(1.1,1.1,1.1) rotate(3deg)}to{-webkit-transform:scaleX(1);transform:scaleX(1)}}.tada{-webkit-animation-name:tada;animation-name:tada}@-webkit-keyframes wobble{0%{-webkit-transform:none;transform:none}15%{-webkit-transform:translate3d(25%,0,0) rotate(5deg);transform:translate3d(25%,0,0) rotate(5deg)}30%{-webkit-transform:translate3d(-20%,0,0) rotate(-3deg);transform:translate3d(-20%,0,0) rotate(-3deg)}45%{-webkit-transform:translate3d(15%,0,0) rotate(3deg);transform:translate3d(15%,0,0) rotate(3deg)}60%{-webkit-transform:translate3d(-10%,0,0) rotate(-2deg);transform:translate3d(-10%,0,0) rotate(-2deg)}75%{-webkit-transform:translate3d(5%,0,0) rotate(1deg);transform:translate3d(5%,0,0) rotate(1deg)}to{-webkit-transform:none;transform:none}}@keyframes wobble{0%{-webkit-transform:none;transform:none}15%{-webkit-transform:translate3d(25%,0,0) rotate(5deg);transform:translate3d(25%,0,0) rotate(5deg)}30%{-webkit-transform:translate3d(-20%,0,0) rotate(-3deg);transform:translate3d(-20%,0,0) rotate(-3deg)}45%{-webkit-transform:translate3d(15%,0,0) rotate(3deg);transform:translate3d(15%,0,0) rotate(3deg)}60%{-webkit-transform:translate3d(-10%,0,0) rotate(-2deg);transform:translate3d(-10%,0,0) rotate(-2deg)}75%{-webkit-transform:translate3d(5%,0,0) rotate(1deg);transform:translate3d(5%,0,0) rotate(1deg)}to{-webkit-transform:none;transform:none}}.wobble{-webkit-animation-name:wobble;animation-name:wobble}@-webkit-keyframes jello{0%,11.1%,to{-webkit-transform:none;transform:none}22.2%{-webkit-transform:skewX(12.5deg) skewY(12.5deg);transform:skewX(12.5deg) skewY(12.5deg)}33.3%{-webkit-transform:skewX(-6.25deg) skewY(-6.25deg);transform:skewX(-6.25deg) skewY(-6.25deg)}44.4%{-webkit-transform:skewX(3.125deg) skewY(3.125deg);transform:skewX(3.125deg) skewY(3.125deg)}55.5%{-webkit-transform:skewX(-1.5625deg) skewY(-1.5625deg);transform:skewX(-1.5625deg) skewY(-1.5625deg)}66.6%{-webkit-transform:skewX(0.78125deg) skewY(0.78125deg);transform:skewX(0.78125deg) skewY(0.78125deg)}77.7%{-webkit-transform:skewX(-0.390625deg) skewY(-0.390625deg);transform:skewX(-0.390625deg) skewY(-0.390625deg)}88.8%{-webkit-transform:skewX(0.1953125deg) skewY(0.1953125deg);transform:skewX(0.1953125deg) skewY(0.1953125deg)}}@keyframes jello{0%,11.1%,to{-webkit-transform:none;transform:none}22.2%{-webkit-transform:skewX(12.5deg) skewY(12.5deg);transform:skewX(12.5deg) skewY(12.5deg)}33.3%{-webkit-transform:skewX(-6.25deg) skewY(-6.25deg);transform:skewX(-6.25deg) skewY(-6.25deg)}44.4%{-webkit-transform:skewX(3.125deg) skewY(3.125deg);transform:skewX(3.125deg) skewY(3.125deg)}55.5%{-webkit-transform:skewX(-1.5625deg) skewY(-1.5625deg);transform:skewX(-1.5625deg) skewY(-1.5625deg)}66.6%{-webkit-transform:skewX(0.78125deg) skewY(0.78125deg);transform:skewX(0.78125deg) skewY(0.78125deg)}77.7%{-webkit-transform:skewX(-0.390625deg) skewY(-0.390625deg);transform:skewX(-0.390625deg) skewY(-0.390625deg)}88.8%{-webkit-transform:skewX(0.1953125deg) skewY(0.1953125deg);transform:skewX(0.1953125deg) skewY(0.1953125deg)}}.jello{-webkit-animation-name:jello;animation-name:jello;-webkit-transform-origin:center;transform-origin:center}@-webkit-keyframes bounceIn{0%,20%,40%,60%,80%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}to{opacity:1;-webkit-transform:scaleX(1);transform:scaleX(1)}}@keyframes bounceIn{0%,20%,40%,60%,80%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}to{opacity:1;-webkit-transform:scaleX(1);transform:scaleX(1)}}.bounceIn{-webkit-animation-name:bounceIn;animation-name:bounceIn}@-webkit-keyframes bounceInDown{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}to{-webkit-transform:none;transform:none}}@keyframes bounceInDown{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}to{-webkit-transform:none;transform:none}}.bounceInDown{-webkit-animation-name:bounceInDown;animation-name:bounceInDown}@-webkit-keyframes bounceInLeft{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}to{-webkit-transform:none;transform:none}}@keyframes bounceInLeft{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}to{-webkit-transform:none;transform:none}}.bounceInLeft{-webkit-animation-name:bounceInLeft;animation-name:bounceInLeft}@-webkit-keyframes bounceInRight{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(-3000px,0,0);transform:translate3d(-3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}to{-webkit-transform:none;transform:none}}@keyframes bounceInRight{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(-3000px,0,0);transform:translate3d(-3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}to{-webkit-transform:none;transform:none}}.bounceInRight{-webkit-animation-name:bounceInRight;animation-name:bounceInRight}@-webkit-keyframes bounceInUp{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}@keyframes bounceInUp{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}.bounceInUp{-webkit-animation-name:bounceInUp;animation-name:bounceInUp}@-webkit-keyframes bounceOut{20%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}50%,55%{opacity:1;-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}to{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}}@keyframes bounceOut{20%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}50%,55%{opacity:1;-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}to{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}}.bounceOut{-webkit-animation-name:bounceOut;animation-name:bounceOut}@-webkit-keyframes bounceOutDown{20%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}to{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}}@keyframes bounceOutDown{20%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}to{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}}.bounceOutDown{-webkit-animation-name:bounceOutDown;animation-name:bounceOutDown}@-webkit-keyframes bounceOutLeft{20%{opacity:1;-webkit-transform:translate3d(-20px,0,0);transform:translate3d(-20px,0,0)}to{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}}@keyframes bounceOutLeft{20%{opacity:1;-webkit-transform:translate3d(-20px,0,0);transform:translate3d(-20px,0,0)}to{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}}.bounceOutLeft{-webkit-animation-name:bounceOutLeft;animation-name:bounceOutLeft}@-webkit-keyframes bounceOutRight{20%{opacity:1;-webkit-transform:translate3d(20px,0,0);transform:translate3d(20px,0,0)}to{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}}@keyframes bounceOutRight{20%{opacity:1;-webkit-transform:translate3d(20px,0,0);transform:translate3d(20px,0,0)}to{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}}.bounceOutRight{-webkit-animation-name:bounceOutRight;animation-name:bounceOutRight}@-webkit-keyframes bounceOutUp{20%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}to{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}@keyframes bounceOutUp{20%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}to{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}.bounceOutUp{-webkit-animation-name:bounceOutUp;animation-name:bounceOutUp}@-webkit-keyframes fadeIn{0%{opacity:0}to{opacity:1}}@keyframes fadeIn{0%{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}@-webkit-keyframes fadeInDownBig{0%{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInDownBig{0%{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInDownBig{-webkit-animation-name:fadeInDownBig;animation-name:fadeInDownBig}@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}@-webkit-keyframes fadeInLeftBig{0%{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInLeftBig{0%{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInLeftBig{-webkit-animation-name:fadeInLeftBig;animation-name:fadeInLeftBig}@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}@-webkit-keyframes fadeInRightBig{0%{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInRightBig{0%{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInRightBig{-webkit-animation-name:fadeInRightBig;animation-name:fadeInRightBig}@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}@-webkit-keyframes fadeInUpBig{0%{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInUpBig{0%{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}to{opacity:1;-webkit-transform:none;transform:none}}.fadeInUpBig{-webkit-animation-name:fadeInUpBig;animation-name:fadeInUpBig}@-webkit-keyframes fadeOut{0%{opacity:1}to{opacity:0}}@keyframes fadeOut{0%{opacity:1}to{opacity:0}}.fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOutDown{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}}@keyframes fadeOutDown{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}}.fadeOutDown{-webkit-animation-name:fadeOutDown;animation-name:fadeOutDown}@-webkit-keyframes fadeOutDownBig{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}}@keyframes fadeOutDownBig{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}}.fadeOutDownBig{-webkit-animation-name:fadeOutDownBig;animation-name:fadeOutDownBig}@-webkit-keyframes fadeOutLeft{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}@keyframes fadeOutLeft{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}.fadeOutLeft{-webkit-animation-name:fadeOutLeft;animation-name:fadeOutLeft}@-webkit-keyframes fadeOutLeftBig{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}}@keyframes fadeOutLeftBig{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}}.fadeOutLeftBig{-webkit-animation-name:fadeOutLeftBig;animation-name:fadeOutLeftBig}@-webkit-keyframes fadeOutRight{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}@keyframes fadeOutRight{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}.fadeOutRight{-webkit-animation-name:fadeOutRight;animation-name:fadeOutRight}@-webkit-keyframes fadeOutRightBig{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}}@keyframes fadeOutRightBig{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}}.fadeOutRightBig{-webkit-animation-name:fadeOutRightBig;animation-name:fadeOutRightBig}@-webkit-keyframes fadeOutUp{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}@keyframes fadeOutUp{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}.fadeOutUp{-webkit-animation-name:fadeOutUp;animation-name:fadeOutUp}@-webkit-keyframes fadeOutUpBig{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}@keyframes fadeOutUpBig{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}.fadeOutUpBig{-webkit-animation-name:fadeOutUpBig;animation-name:fadeOutUpBig}@-webkit-keyframes flip{0%{-webkit-transform:perspective(400px) rotateY(-1turn);transform:perspective(400px) rotateY(-1turn)}0%,40%{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}40%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(-190deg);transform:perspective(400px) translateZ(150px) rotateY(-190deg)}50%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(-170deg);transform:perspective(400px) translateZ(150px) rotateY(-170deg)}50%,80%{-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}80%{-webkit-transform:perspective(400px) scale3d(.95,.95,.95);transform:perspective(400px) scale3d(.95,.95,.95)}to{-webkit-transform:perspective(400px);transform:perspective(400px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}}@keyframes flip{0%{-webkit-transform:perspective(400px) rotateY(-1turn);transform:perspective(400px) rotateY(-1turn)}0%,40%{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}40%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(-190deg);transform:perspective(400px) translateZ(150px) rotateY(-190deg)}50%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(-170deg);transform:perspective(400px) translateZ(150px) rotateY(-170deg)}50%,80%{-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}80%{-webkit-transform:perspective(400px) scale3d(.95,.95,.95);transform:perspective(400px) scale3d(.95,.95,.95)}to{-webkit-transform:perspective(400px);transform:perspective(400px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}}.animated.flip{-webkit-backface-visibility:visible;backface-visibility:visible;-webkit-animation-name:flip;animation-name:flip}@-webkit-keyframes flipInX{0%{-webkit-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg);opacity:0}0%,40%{-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}40%{-webkit-transform:perspective(400px) rotateX(-20deg);transform:perspective(400px) rotateX(-20deg)}60%{-webkit-transform:perspective(400px) rotateX(10deg);transform:perspective(400px) rotateX(10deg);opacity:1}80%{-webkit-transform:perspective(400px) rotateX(-5deg);transform:perspective(400px) rotateX(-5deg)}to{-webkit-transform:perspective(400px);transform:perspective(400px)}}@keyframes flipInX{0%{-webkit-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg);opacity:0}0%,40%{-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}40%{-webkit-transform:perspective(400px) rotateX(-20deg);transform:perspective(400px) rotateX(-20deg)}60%{-webkit-transform:perspective(400px) rotateX(10deg);transform:perspective(400px) rotateX(10deg);opacity:1}80%{-webkit-transform:perspective(400px) rotateX(-5deg);transform:perspective(400px) rotateX(-5deg)}to{-webkit-transform:perspective(400px);transform:perspective(400px)}}.flipInX{-webkit-backface-visibility:visible!important;backface-visibility:visible!important;-webkit-animation-name:flipInX;animation-name:flipInX}@-webkit-keyframes flipInY{0%{-webkit-transform:perspective(400px) rotateY(90deg);transform:perspective(400px) rotateY(90deg);opacity:0}0%,40%{-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}40%{-webkit-transform:perspective(400px) rotateY(-20deg);transform:perspective(400px) rotateY(-20deg)}60%{-webkit-transform:perspective(400px) rotateY(10deg);transform:perspective(400px) rotateY(10deg);opacity:1}80%{-webkit-transform:perspective(400px) rotateY(-5deg);transform:perspective(400px) rotateY(-5deg)}to{-webkit-transform:perspective(400px);transform:perspective(400px)}}@keyframes flipInY{0%{-webkit-transform:perspective(400px) rotateY(90deg);transform:perspective(400px) rotateY(90deg);opacity:0}0%,40%{-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}40%{-webkit-transform:perspective(400px) rotateY(-20deg);transform:perspective(400px) rotateY(-20deg)}60%{-webkit-transform:perspective(400px) rotateY(10deg);transform:perspective(400px) rotateY(10deg);opacity:1}80%{-webkit-transform:perspective(400px) rotateY(-5deg);transform:perspective(400px) rotateY(-5deg)}to{-webkit-transform:perspective(400px);transform:perspective(400px)}}.flipInY{-webkit-backface-visibility:visible!important;backface-visibility:visible!important;-webkit-animation-name:flipInY;animation-name:flipInY}@-webkit-keyframes flipOutX{0%{-webkit-transform:perspective(400px);transform:perspective(400px)}30%{-webkit-transform:perspective(400px) rotateX(-20deg);transform:perspective(400px) rotateX(-20deg);opacity:1}to{-webkit-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg);opacity:0}}@keyframes flipOutX{0%{-webkit-transform:perspective(400px);transform:perspective(400px)}30%{-webkit-transform:perspective(400px) rotateX(-20deg);transform:perspective(400px) rotateX(-20deg);opacity:1}to{-webkit-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg);opacity:0}}.flipOutX{-webkit-animation-name:flipOutX;animation-name:flipOutX;-webkit-backface-visibility:visible!important;backface-visibility:visible!important}@-webkit-keyframes flipOutY{0%{-webkit-transform:perspective(400px);transform:perspective(400px)}30%{-webkit-transform:perspective(400px) rotateY(-15deg);transform:perspective(400px) rotateY(-15deg);opacity:1}to{-webkit-transform:perspective(400px) rotateY(90deg);transform:perspective(400px) rotateY(90deg);opacity:0}}@keyframes flipOutY{0%{-webkit-transform:perspective(400px);transform:perspective(400px)}30%{-webkit-transform:perspective(400px) rotateY(-15deg);transform:perspective(400px) rotateY(-15deg);opacity:1}to{-webkit-transform:perspective(400px) rotateY(90deg);transform:perspective(400px) rotateY(90deg);opacity:0}}.flipOutY{-webkit-backface-visibility:visible!important;backface-visibility:visible!important;-webkit-animation-name:flipOutY;animation-name:flipOutY}@-webkit-keyframes lightSpeedIn{0%{-webkit-transform:translate3d(-100%,0,0) skewX(30deg);transform:translate3d(-100%,0,0) skewX(30deg);opacity:0}60%{-webkit-transform:skewX(-20deg);transform:skewX(-20deg)}60%,80%{opacity:1}80%{-webkit-transform:skewX(5deg);transform:skewX(5deg)}to{-webkit-transform:none;transform:none;opacity:1}}@keyframes lightSpeedIn{0%{-webkit-transform:translate3d(-100%,0,0) skewX(30deg);transform:translate3d(-100%,0,0) skewX(30deg);opacity:0}60%{-webkit-transform:skewX(-20deg);transform:skewX(-20deg)}60%,80%{opacity:1}80%{-webkit-transform:skewX(5deg);transform:skewX(5deg)}to{-webkit-transform:none;transform:none;opacity:1}}.lightSpeedIn{-webkit-animation-name:lightSpeedIn;animation-name:lightSpeedIn;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}@-webkit-keyframes lightSpeedOut{0%{opacity:1}to{-webkit-transform:translate3d(-100%,0,0) skewX(-30deg);transform:translate3d(-100%,0,0) skewX(-30deg);opacity:0}}@keyframes lightSpeedOut{0%{opacity:1}to{-webkit-transform:translate3d(-100%,0,0) skewX(-30deg);transform:translate3d(-100%,0,0) skewX(-30deg);opacity:0}}.lightSpeedOut{-webkit-animation-name:lightSpeedOut;animation-name:lightSpeedOut;-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}@-webkit-keyframes rotateIn{0%{transform-origin:center;-webkit-transform:rotate(200deg);transform:rotate(200deg);opacity:0}0%,to{-webkit-transform-origin:center}to{transform-origin:center;-webkit-transform:none;transform:none;opacity:1}}@keyframes rotateIn{0%{transform-origin:center;-webkit-transform:rotate(200deg);transform:rotate(200deg);opacity:0}0%,to{-webkit-transform-origin:center}to{transform-origin:center;-webkit-transform:none;transform:none;opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}@-webkit-keyframes rotateInDownLeft{0%{transform-origin:right bottom;-webkit-transform:rotate(45deg);transform:rotate(45deg);opacity:0}0%,to{-webkit-transform-origin:right bottom}to{transform-origin:right bottom;-webkit-transform:none;transform:none;opacity:1}}@keyframes rotateInDownLeft{0%{transform-origin:right bottom;-webkit-transform:rotate(45deg);transform:rotate(45deg);opacity:0}0%,to{-webkit-transform-origin:right bottom}to{transform-origin:right bottom;-webkit-transform:none;transform:none;opacity:1}}.rotateInDownLeft{-webkit-animation-name:rotateInDownLeft;animation-name:rotateInDownLeft}@-webkit-keyframes rotateInDownRight{0%{transform-origin:left bottom;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0}0%,to{-webkit-transform-origin:left bottom}to{transform-origin:left bottom;-webkit-transform:none;transform:none;opacity:1}}@keyframes rotateInDownRight{0%{transform-origin:left bottom;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0}0%,to{-webkit-transform-origin:left bottom}to{transform-origin:left bottom;-webkit-transform:none;transform:none;opacity:1}}.rotateInDownRight{-webkit-animation-name:rotateInDownRight;animation-name:rotateInDownRight}@-webkit-keyframes rotateInUpLeft{0%{transform-origin:right bottom;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0}0%,to{-webkit-transform-origin:right bottom}to{transform-origin:right bottom;-webkit-transform:none;transform:none;opacity:1}}@keyframes rotateInUpLeft{0%{transform-origin:right bottom;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0}0%,to{-webkit-transform-origin:right bottom}to{transform-origin:right bottom;-webkit-transform:none;transform:none;opacity:1}}.rotateInUpLeft{-webkit-animation-name:rotateInUpLeft;animation-name:rotateInUpLeft}@-webkit-keyframes rotateInUpRight{0%{transform-origin:left bottom;-webkit-transform:rotate(90deg);transform:rotate(90deg);opacity:0}0%,to{-webkit-transform-origin:left bottom}to{transform-origin:left bottom;-webkit-transform:none;transform:none;opacity:1}}@keyframes rotateInUpRight{0%{transform-origin:left bottom;-webkit-transform:rotate(90deg);transform:rotate(90deg);opacity:0}0%,to{-webkit-transform-origin:left bottom}to{transform-origin:left bottom;-webkit-transform:none;transform:none;opacity:1}}.rotateInUpRight{-webkit-animation-name:rotateInUpRight;animation-name:rotateInUpRight}@-webkit-keyframes rotateOut{0%{transform-origin:center;opacity:1}0%,to{-webkit-transform-origin:center}to{transform-origin:center;-webkit-transform:rotate(-200deg);transform:rotate(-200deg);opacity:0}}@keyframes rotateOut{0%{transform-origin:center;opacity:1}0%,to{-webkit-transform-origin:center}to{transform-origin:center;-webkit-transform:rotate(-200deg);transform:rotate(-200deg);opacity:0}}.rotateOut{-webkit-animation-name:rotateOut;animation-name:rotateOut}@-webkit-keyframes rotateOutDownLeft{0%{transform-origin:right bottom;opacity:1}0%,to{-webkit-transform-origin:right bottom}to{transform-origin:right bottom;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0}}@keyframes rotateOutDownLeft{0%{transform-origin:right bottom;opacity:1}0%,to{-webkit-transform-origin:right bottom}to{transform-origin:right bottom;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0}}.rotateOutDownLeft{-webkit-animation-name:rotateOutDownLeft;animation-name:rotateOutDownLeft}@-webkit-keyframes rotateOutDownRight{0%{transform-origin:left bottom;opacity:1}0%,to{-webkit-transform-origin:left bottom}to{transform-origin:left bottom;-webkit-transform:rotate(45deg);transform:rotate(45deg);opacity:0}}@keyframes rotateOutDownRight{0%{transform-origin:left bottom;opacity:1}0%,to{-webkit-transform-origin:left bottom}to{transform-origin:left bottom;-webkit-transform:rotate(45deg);transform:rotate(45deg);opacity:0}}.rotateOutDownRight{-webkit-animation-name:rotateOutDownRight;animation-name:rotateOutDownRight}@-webkit-keyframes rotateOutUpLeft{0%{transform-origin:right bottom;opacity:1}0%,to{-webkit-transform-origin:right bottom}to{transform-origin:right bottom;-webkit-transform:rotate(45deg);transform:rotate(45deg);opacity:0}}@keyframes rotateOutUpLeft{0%{transform-origin:right bottom;opacity:1}0%,to{-webkit-transform-origin:right bottom}to{transform-origin:right bottom;-webkit-transform:rotate(45deg);transform:rotate(45deg);opacity:0}}.rotateOutUpLeft{-webkit-animation-name:rotateOutUpLeft;animation-name:rotateOutUpLeft}@-webkit-keyframes rotateOutUpRight{0%{transform-origin:left bottom;opacity:1}0%,to{-webkit-transform-origin:left bottom}to{transform-origin:left bottom;-webkit-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0}}@keyframes rotateOutUpRight{0%{transform-origin:left bottom;opacity:1}0%,to{-webkit-transform-origin:left bottom}to{transform-origin:left bottom;-webkit-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0}}.rotateOutUpRight{-webkit-animation-name:rotateOutUpRight;animation-name:rotateOutUpRight}@-webkit-keyframes hinge{0%{transform-origin:top right}0%,20%,60%{-webkit-transform-origin:top right;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}20%,60%{-webkit-transform:rotate(-80deg);transform:rotate(-80deg);transform-origin:top right}40%,80%{-webkit-transform:rotate(-60deg);transform:rotate(-60deg);-webkit-transform-origin:top right;transform-origin:top right;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;opacity:1}to{-webkit-transform:translate3d(0,700px,0);transform:translate3d(0,700px,0);opacity:0}}@keyframes hinge{0%{transform-origin:top right}0%,20%,60%{-webkit-transform-origin:top right;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}20%,60%{-webkit-transform:rotate(-80deg);transform:rotate(-80deg);transform-origin:top right}40%,80%{-webkit-transform:rotate(-60deg);transform:rotate(-60deg);-webkit-transform-origin:top right;transform-origin:top right;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;opacity:1}to{-webkit-transform:translate3d(0,700px,0);transform:translate3d(0,700px,0);opacity:0}}.hinge{-webkit-animation-name:hinge;animation-name:hinge}@-webkit-keyframes rollIn{0%{opacity:0;-webkit-transform:translate3d(100%,0,0) rotate(120deg);transform:translate3d(100%,0,0) rotate(120deg)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes rollIn{0%{opacity:0;-webkit-transform:translate3d(100%,0,0) rotate(120deg);transform:translate3d(100%,0,0) rotate(120deg)}to{opacity:1;-webkit-transform:none;transform:none}}.rollIn{-webkit-animation-name:rollIn;animation-name:rollIn}@-webkit-keyframes rollOut{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(-100%,0,0) rotate(-120deg);transform:translate3d(-100%,0,0) rotate(-120deg)}}@keyframes rollOut{0%{opacity:1}to{opacity:0;-webkit-transform:translate3d(-100%,0,0) rotate(-120deg);transform:translate3d(-100%,0,0) rotate(-120deg)}}.rollOut{-webkit-animation-name:rollOut;animation-name:rollOut}@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}@-webkit-keyframes zoomInDown{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);transform:scale3d(.475,.475,.475) translate3d(0,60px,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}@keyframes zoomInDown{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);transform:scale3d(.475,.475,.475) translate3d(0,60px,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomInDown{-webkit-animation-name:zoomInDown;animation-name:zoomInDown}@-webkit-keyframes zoomInLeft{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(1000px,0,0);transform:scale3d(.1,.1,.1) translate3d(1000px,0,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(-10px,0,0);transform:scale3d(.475,.475,.475) translate3d(-10px,0,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}@keyframes zoomInLeft{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(1000px,0,0);transform:scale3d(.1,.1,.1) translate3d(1000px,0,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(-10px,0,0);transform:scale3d(.475,.475,.475) translate3d(-10px,0,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomInLeft{-webkit-animation-name:zoomInLeft;animation-name:zoomInLeft}@-webkit-keyframes zoomInRight{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(-1000px,0,0);transform:scale3d(.1,.1,.1) translate3d(-1000px,0,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(10px,0,0);transform:scale3d(.475,.475,.475) translate3d(10px,0,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}@keyframes zoomInRight{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(-1000px,0,0);transform:scale3d(.1,.1,.1) translate3d(-1000px,0,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(10px,0,0);transform:scale3d(.475,.475,.475) translate3d(10px,0,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomInRight{-webkit-animation-name:zoomInRight;animation-name:zoomInRight}@-webkit-keyframes zoomInUp{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}@keyframes zoomInUp{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomInUp{-webkit-animation-name:zoomInUp;animation-name:zoomInUp}@-webkit-keyframes zoomOut{0%{opacity:1}50%{-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%,to{opacity:0}}@keyframes zoomOut{0%{opacity:1}50%{-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%,to{opacity:0}}.zoomOut{-webkit-animation-name:zoomOut;animation-name:zoomOut}@-webkit-keyframes zoomOutDown{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}to{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,2000px,0);transform:scale3d(.1,.1,.1) translate3d(0,2000px,0);-webkit-transform-origin:center bottom;transform-origin:center bottom;-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}@keyframes zoomOutDown{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}to{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,2000px,0);transform:scale3d(.1,.1,.1) translate3d(0,2000px,0);-webkit-transform-origin:center bottom;transform-origin:center bottom;-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomOutDown{-webkit-animation-name:zoomOutDown;animation-name:zoomOutDown}@-webkit-keyframes zoomOutLeft{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(-42px,0,0);transform:scale3d(.475,.475,.475) translate3d(-42px,0,0)}to{opacity:0;-webkit-transform:scale(.1) translate3d(2000px,0,0);transform:scale(.1) translate3d(2000px,0,0);-webkit-transform-origin:right center;transform-origin:right center}}@keyframes zoomOutLeft{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(-42px,0,0);transform:scale3d(.475,.475,.475) translate3d(-42px,0,0)}to{opacity:0;-webkit-transform:scale(.1) translate3d(2000px,0,0);transform:scale(.1) translate3d(2000px,0,0);-webkit-transform-origin:right center;transform-origin:right center}}.zoomOutLeft{-webkit-animation-name:zoomOutLeft;animation-name:zoomOutLeft}@-webkit-keyframes zoomOutRight{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(42px,0,0);transform:scale3d(.475,.475,.475) translate3d(42px,0,0)}to{opacity:0;-webkit-transform:scale(.1) translate3d(-2000px,0,0);transform:scale(.1) translate3d(-2000px,0,0);-webkit-transform-origin:left center;transform-origin:left center}}@keyframes zoomOutRight{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(42px,0,0);transform:scale3d(.475,.475,.475) translate3d(42px,0,0)}to{opacity:0;-webkit-transform:scale(.1) translate3d(-2000px,0,0);transform:scale(.1) translate3d(-2000px,0,0);-webkit-transform-origin:left center;transform-origin:left center}}.zoomOutRight{-webkit-animation-name:zoomOutRight;animation-name:zoomOutRight}@-webkit-keyframes zoomOutUp{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);transform:scale3d(.475,.475,.475) translate3d(0,60px,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}to{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-2000px,0);transform:scale3d(.1,.1,.1) translate3d(0,-2000px,0);-webkit-transform-origin:center bottom;transform-origin:center bottom;-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}@keyframes zoomOutUp{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);transform:scale3d(.475,.475,.475) translate3d(0,60px,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}to{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-2000px,0);transform:scale3d(.1,.1,.1) translate3d(0,-2000px,0);-webkit-transform-origin:center bottom;transform-origin:center bottom;-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomOutUp{-webkit-animation-name:zoomOutUp;animation-name:zoomOutUp}@-webkit-keyframes slideInDown{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}@keyframes slideInDown{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}.slideInDown{-webkit-animation-name:slideInDown;animation-name:slideInDown}@-webkit-keyframes slideInLeft{0%{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);visibility:visible}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}@keyframes slideInLeft{0%{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);visibility:visible}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}.slideInLeft{-webkit-animation-name:slideInLeft;animation-name:slideInLeft}@-webkit-keyframes slideInRight{0%{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);visibility:visible}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}@keyframes slideInRight{0%{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);visibility:visible}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}.slideInRight{-webkit-animation-name:slideInRight;animation-name:slideInRight}@-webkit-keyframes slideInUp{0%{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}@keyframes slideInUp{0%{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp}@-webkit-keyframes slideOutDown{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{visibility:hidden;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}}@keyframes slideOutDown{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{visibility:hidden;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}}.slideOutDown{-webkit-animation-name:slideOutDown;animation-name:slideOutDown}@-webkit-keyframes slideOutLeft{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{visibility:hidden;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}@keyframes slideOutLeft{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{visibility:hidden;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}.slideOutLeft{-webkit-animation-name:slideOutLeft;animation-name:slideOutLeft}@-webkit-keyframes slideOutRight{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{visibility:hidden;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}@keyframes slideOutRight{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{visibility:hidden;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}.slideOutRight{-webkit-animation-name:slideOutRight;animation-name:slideOutRight}@-webkit-keyframes slideOutUp{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{visibility:hidden;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}@keyframes slideOutUp{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{visibility:hidden;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}.slideOutUp{-webkit-animation-name:slideOutUp;animation-name:slideOutUp}

/* Socal Buttons */
.jssocials-shares {
  margin: 0.2em 0; }

.jssocials-shares * {
  box-sizing: border-box; }

.jssocials-share {
  display: inline-block;
  vertical-align: top;
  margin: 0.3em 0 0.3em 0.6em; }

.jssocials-share:last-child {
  margin-left: 0; }

.jssocials-share-logo {
  width: 1em;
  vertical-align: middle;
  font-size: 1.5em; }

img.jssocials-share-logo {
  width: auto;
  height: 1em; }

.jssocials-share-link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 1; }
.jssocials-share-link.jssocials-share-link-count {
  padding-top: .2em; }
.jssocials-share-link.jssocials-share-link-count .jssocials-share-count {
  display: block;
  font-size: .6em;
  margin: 0 -.5em -.8em -.5em; }
.jssocials-share-link.jssocials-share-no-count {
  padding-top: .5em; }
.jssocials-share-link.jssocials-share-no-count .jssocials-share-count {
  height: 1em; }

.jssocials-share-label {
  padding-right: 0.3em;
  vertical-align: middle; }

.jssocials-share-count-box {
  display: inline-block;
  height: 1.5em;
  padding: 0 0.3em;
  line-height: 1;
  vertical-align: middle;
  cursor: default; }
.jssocials-share-count-box.jssocials-share-no-count {
  display: none; }

.jssocials-share-count {
  line-height: 1.5em;
  vertical-align: middle; }

.jssocials-share-twitter .jssocials-share-link {
  background: #00aced; }
.jssocials-share-twitter .jssocials-share-link:hover {
  background: #0087ba; }

.jssocials-share-facebook .jssocials-share-link {
  background: #3b5998; }
.jssocials-share-facebook .jssocials-share-link:hover {
  background: #2d4373; }

.jssocials-share-googleplus .jssocials-share-link {
  background: #dd4b39; }
.jssocials-share-googleplus .jssocials-share-link:hover {
  background: #c23321; }

.jssocials-share-linkedin .jssocials-share-link {
  background: #007bb6; }
.jssocials-share-linkedin .jssocials-share-link:hover {
  background: #005983; }

.jssocials-share-pinterest .jssocials-share-link {
  background: #cb2027; }
.jssocials-share-pinterest .jssocials-share-link:hover {
  background: #9f191f; }

.jssocials-share-email .jssocials-share-link {
  background: #3490F3; }
.jssocials-share-email .jssocials-share-link:hover {
  background: #0e76e6; }

.jssocials-share-stumbleupon .jssocials-share-link {
  background: #eb4823; }
.jssocials-share-stumbleupon .jssocials-share-link:hover {
  background: #c93412; }

.jssocials-share-whatsapp .jssocials-share-link {
  background: #29a628; }
.jssocials-share-whatsapp .jssocials-share-link:hover {
  background: #1f7d1e; }

.jssocials-share-telegram .jssocials-share-link {
  background: #2ca5e0; }
.jssocials-share-telegram .jssocials-share-link:hover {
  background: #1c88bd; }

.jssocials-share-line .jssocials-share-link {
  background: #25af00; }
.jssocials-share-line .jssocials-share-link:hover {
  background: #1a7c00; }

.jssocials-share-viber .jssocials-share-link {
  background: #7b519d; }
.jssocials-share-viber .jssocials-share-link:hover {
  background: #61407b; }

.jssocials-share-pocket .jssocials-share-link {
  background: #ef4056; }
.jssocials-share-pocket .jssocials-share-link:hover {
  background: #e9132e; }

.jssocials-share-messenger .jssocials-share-link {
  background: #0084ff; }
.jssocials-share-messenger .jssocials-share-link:hover {
  background: #006acc; }

.jssocials-share-vkontakte .jssocials-share-link {
  background: #45668e; }
.jssocials-share-vkontakte .jssocials-share-link:hover {
  background: #344d6c; }

.jssocials-share-rss .jssocials-share-link {
  background: #ff9900; }
.jssocials-share-rss .jssocials-share-link:hover {
  background: #cc7a00; }

.jssocials-share-directlink .jssocials-share-link {
  background: #aba6a6; }
.jssocials-share-directlink .jssocials-share-link:hover {
  background: #615f5f; }


.jssocials-share-link {
  padding: .5em .6em;
  color: #fff !important;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out; }
.jssocials-share-link:hover, .jssocials-share-link:focus, .jssocials-share-link:active {
  color: #fff !important; }

.jssocials-share-count-box {
  position: relative;
  height: 2.5em;
  padding: 0 .3em;
  margin-right: 0.3em;
  background: #f5f5f5;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out; }
.jssocials-share-count-box:hover {
  background: gainsboro; }
.jssocials-share-count-box:hover:after {
  border-color: transparent transparent transparent gainsboro; }
.jssocials-share-count-box:after {
  content: "";
  display: block;
  position: absolute;
  top: 0.85em;
  right: -0.3em;
  width: 0;
  height: 0;
  border-width: 0.4em 0 0.4em 0.4em;
  border-style: solid;
  border-color: transparent transparent transparent #f5f5f5;
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out; }
.jssocials-share-count-box .jssocials-share-count {
  line-height: 2.5em;
  color: #444; }
