.button.insert-onedrive, .button.insert-onedrive:hover, .button.insert-onedrive:active, .button.insert-onedrive:focus {
  float: right;
  margin-right: 7px;
  background-image: url("images/onedrive_logo.png");
  background-repeat: no-repeat;
  background-position: 6px center;
  padding-left: 25px;
  background-size: 1.2em;
}
