/*Fonts */
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?eegarh');
  src:url('fonts/icomoon.eot?#iefixeegarh') format('embedded-opentype'),
    url('fonts/icomoon.woff?eegarh') format('woff'),
    url('fonts/icomoon.ttf?eegarh') format('truetype'),
    url('fonts/icomoon.svg?eegarh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metroplayericon';
  src:url('fonts/metroplayericon.eot?-1s7fzr');
  src:url('fonts/metroplayericon.eot?#iefix-1s7fzr') format('embedded-opentype'),
    url('fonts/metroplayericon.woff?-1s7fzr') format('woff'),
    url('fonts/metroplayericon.ttf?-1s7fzr') format('truetype'),
    url('fonts/metroplayericon.svg?-1s7fzr#metroplayericon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Colors */
#ShareoneDrive .jp-unmute,
#ShareoneDrive .jp-repeat-off,
#ShareoneDrive .jp-restore-screen {
  color: #0e92c7 !important;
}
#ShareoneDrive .jp-play-bar:after {
  background: none repeat scroll 0 0 #0e92c7;
}

/* Reset */
#ShareoneDrive .ShareoneDrive.media *{
  box-sizing: content-box;
}

#ShareoneDrive .ShareoneDrive.media ul{
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#ShareoneDrive .ShareoneDrive.media ul li{
  list-style: none;
  margin: 0;
}

#ShareoneDrive .ShareoneDrive.media{
  color: #333;
}
#ShareoneDrive .ShareoneDrive.media a{
  color: #333;
  text-decoration: none;
}
#ShareoneDrive li:before{
  content: none !important;
}
/* No Solution */
#ShareoneDrive .jp-no-solution{
  padding: 20px;
}

/* Containers */
#ShareoneDrive .ShareoneDrive.media{
  margin: 5px 6px 30px;
  position: relative;
  z-index: 0;
  border-radius: 18px;
}

#ShareoneDrive .jp-video {
  position:relative;
  margin-bottom: 20px;
}

#ShareoneDrive .jp-video-100 {
  max-width: 100%;
}

#ShareoneDrive .jp-video-270p {
  max-width:480px;
}

#ShareoneDrive .jp-video-360p {
  max-width:570px;
}

/* Full Screen*/
#ShareoneDrive .jp-video-full {
  width:100%!important;
  position:static !important;
  position:relative;
}
#ShareoneDrive.jp-video-full .jp-jplayer {
  top: 0;
  left: 0;
  position: fixed !important; position: relative; /* Rules for IE6 (full-screen) */
  overflow: hidden;
  z-index:1000;
}

#ShareoneDrive .jp-video-full .jp-gui {
  position: fixed !important; position: static; /* Rules for IE6 (full-screen) */
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index:1000;
  margin:0;
  background: none;
}

#ShareoneDrive .jp-video-full .jp-interface {
  position: absolute !important; position: relative; /* Rules for IE6 (full-screen) */
  bottom: 0;
  left: 0;
  z-index:1000;
  background: none repeat scroll 0 0 #EEF1F2;
  border-radius: 18px 18px 0 0;
  -webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.35);
  -moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.35);
  box-shadow: 0 0 12px rgba(58, 51, 46, 0.35);
}

#ShareoneDrive .jp-video.jp-video-full .jp-playlist{
  display:none !important;
}

#ShareoneDrive .jp-video.jp-video-full .jp-jplayer img{
  position:absolute;
  border-radius: 0;
}
#ShareoneDrive .jp-video.jp-video-full .jp-jplayer video{
  border-radius: 0;
}

/* Layout Player */
#ShareoneDrive .jp-jplayer {
  border: 1px solid #E4E4E4;
  border-radius: 18px 18px 0 0;
  position: relative;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  overflow: hidden;
  opacity: 0;
}

#ShareoneDrive .jp-video .jp-jplayer img{
  position:absolute;
  border-radius: 18px 18px 0 0;
  height:100%;
}

#ShareoneDrive .jp-video .jp-jplayer video{
  border-radius: 18px 18px 0 0;
}

#ShareoneDrive .jp-video-full .jp-jplayer img{
  position: fixed;
  left: 0;
  top: 0;
}
#ShareoneDrive .jp-video-full .jp-jplayer{
  border: 0;
  margin: 0 auto;
}

/* Gui & Controls */
#ShareoneDrive .jp-gui{
  margin: 0 -6px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.35);
  -moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.35);
  box-shadow: 0 0 12px rgba(58, 51, 46, 0.35);
  position: relative;
  z-index: 2;
}

#ShareoneDrive .jp-interface {
  background: none repeat scroll 0 0 #EEF1F2;
  position: relative;
  width:100%;
  padding-bottom: 12px;
  min-height: 100px;
}

#ShareoneDrive div.jp-controls-holder {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

/* Playlist*/
#ShareoneDrive .jp-song-title .jp-playlist-item-song-title {
  font-size: 18px;
  letter-spacing: -1px;
  text-align: center;
}

#ShareoneDrive .jp-song-title .jp-playlist-item-song-artist {
  padding: 0 5px 20px 5px;
  text-align: center;
}

#ShareoneDrive .jp-song-title .jp-playlist-item-thumb{
  display: none;
}

#ShareoneDrive .jp-current-time, #ShareoneDrive .jp-duration, #ShareoneDrive .jp-stop, #ShareoneDrive .jp-repeat, #ShareoneDrive .jp-repeat-off, #ShareoneDrive .jp-full-screen, #ShareoneDrive .jp-restore-screen, #ShareoneDrive .jp-shuffle, #ShareoneDrive .jp-volume-bar, #ShareoneDrive .jp-volume-max, .post-audio .song_title div {
  display: block;
}

#ShareoneDrive .jp-playlist-item {
  text-decoration: none;
}
#ShareoneDrive .jp-repeat,
#ShareoneDrive .jp-repeat-off{
  position: absolute;
  left: 30px;
  top: 10px;
}

#ShareoneDrive .jp-full-screen,
#ShareoneDrive .jp-restore-screen{
  position: absolute;
  right: 34px;
  top: 14px;
}

#ShareoneDrive .jp-playlist-toggle{
  position: absolute;
  top: 10px;
}

#ShareoneDrive .jp-interface, #ShareoneDrive .jp-interface ul.jp-controls {
  position: relative;
  padding-bottom: 12px;
}
#ShareoneDrive .jp-interface ul.jp-controls {
  margin: 0px 20px 0;
  position: relative;
  top: 5px;
  height: 10px;
}
#ShareoneDrive .jp-previous.disabled, #ShareoneDrive .jp-next.disabled {
  opacity: 0.4 !important;
}

#ShareoneDrive .jp-play, #ShareoneDrive .jp-pause, #ShareoneDrive .jp-previous, #ShareoneDrive .jp-next {
  font-size: 26px;
  left: 50%;
  margin-left: -12px;
  position: absolute;
  top: 0;
}
#ShareoneDrive .jp-previous {
  margin-left: -50px;
}
#ShareoneDrive .jp-next {
  margin-left: 26px;
}
#ShareoneDrive .jp-mute, #ShareoneDrive .jp-unmute {
  position: absolute;
  right: 4px;
  top: 10px;
}
#ShareoneDrive .jp-progress{
  height:20px;
}
#ShareoneDrive .jp-progress-bar {
  height: 8px;
  left: 80px;
  right: 80px;
  overflow: hidden;
  position: absolute;
  top: 6px;
}
#ShareoneDrive .jp-seek-bar {
  background: none repeat scroll 0 0 #333333;
  cursor: pointer;
  height: 20px;
  overflow: hidden;
  width: 100% !important;
}
#ShareoneDrive .jp-play-bar {
  background: none repeat scroll 0 0 #CED3D7;
  height: 20px;
  position: relative;
  width: 0;
}
#ShareoneDrive .jp-play-bar:after {
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 9px;
}
#ShareoneDrive .jp-current-time, #ShareoneDrive .jp-duration {
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
  width: 60px;
}
#ShareoneDrive .jp-current-time {
  float: left;
  margin-left: 20px;
}
#ShareoneDrive .jp-duration {
  float: right;
  margin-right: 20px;
  text-align: right;
}

/* @group playlist */
#ShareoneDrive div.jp-playlist {
  width:100%;
  background-color: #E2E2E2;
  background: -webkit-linear-gradient(left top, #F1F1F1 , #E2E2E2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #F1F1F1, #E2E2E2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #F1F1F1, #E2E2E2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #F1F1F1 , #E2E2E2); /* Standard syntax */

  border-radius: 0 0 18px 18px;
  border: 1px solid #D2D2D2;
  position: relative;
  z-index: 1;
}

#ShareoneDrive div.jp-playlist li {
  border-top: 1px solid #EEF1F2;
  margin: 0px;
  padding: 10px 25px;
  word-wrap: break-word;
}

#ShareoneDrive div.jp-playlist li div{
  width: 100%;
  display: table-row;
}

#ShareoneDrive div.jp-playlist li.jp-playlist-current{
  background-color: #EEF1F2;
  box-shadow: 0 0 3px #B6ACAC;
}

#ShareoneDrive div.jp-playlist li:hover{
  background-color: #EEF1F2;
  box-shadow: 0 0 6px #B6ACAC;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */

#ShareoneDrive div.jp-playlist li:last-child {
  border-bottom:none;
  border-radius: 0 0 18px 18px;
}
#ShareoneDrive .jp-playlist-current .jp-playlist-item-song-title,
#ShareoneDrive .jp-playlist-current .jp-playlist-item-song-artist {
  color: #0e92c7;
}


#ShareoneDrive div.jp-playlist-item-song-title{
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  font-family: Arial;
}
#ShareoneDrive .jp-interface div.jp-playlist-item-song-title{
  padding-bottom: 3px;
  padding-top: 5px; 
}

#ShareoneDrive div.jp-playlist-item-song-artist{
  color: #333333;
  font-size: 11px;
  text-align: left;
  font-family: Arial;
}

#ShareoneDrive span.jp-playlist-item-url{
  display: table-cell;
  vertical-align: middle;
  width: 75px;
}

#ShareoneDrive .jp-playlist-item-dl,
#ShareoneDrive .jp-playlist-item-sell{
  font-size: 16px;
  height: 16px;
  margin-left: 15px;
  margin-top: -2px;
  position: relative;
  width: 16px;
}

#ShareoneDrive .jp-playlist-item-sell{
  top:1px;
}
#ShareoneDrive .media a.jp-playlist-item {
  display: table-cell;
  vertical-align: middle;
  padding:0 20px;
  width:100%;
}
#ShareoneDrive .media.audio.nocover a.jp-playlist-item {
  margin-left:0;
}

#ShareoneDrive .media .jp-playlist-item-img{
  min-width:50px;
  width:50px;
  display: table-cell;
  vertical-align: middle
}
#ShareoneDrive .media .jp-playlist-item-thumb{
  min-width:50px;
  width:50px;
  height:auto;
  border-radius: 5px;
}

#ShareoneDrive .media li div.jp-playlist-item-song-title,
#ShareoneDrive .media li div.jp-playlist-item-song-artist{
  display: block;
}

/* Audio player */
#ShareoneDrive .media.audio.cover .jp-jplayer {
  overflow:hidden;
  border: none;
}
#ShareoneDrive .media.audio .jp-jplayer img{
  border-radius: 18px 18px 0 0;
  height:200px!important;
  width: auto!important;
  margin: 0 auto;
  position: relative;
  display:block!important;
  background-color: #EEF1F2;
}

#ShareoneDrive .media.audio.nocover .jp-jplayer{
  display:none!important;
}
#ShareoneDrive .media.audio.nocover .jp-playlist-item-img{
  display:none;
}
#ShareoneDrive .media.audio.nocover span.jp-playlist-item-url{
  top:0px;
}
#ShareoneDrive .audio .jp-full-screen {
  display: none !important;
}
#ShareoneDrive .audio .jp-restore-screen {
  display: none !important;
}


/* ICONS */
#ShareoneDrive .jp-playlist-item-dl,
#ShareoneDrive .jp-playlist-item-sell,
#ShareoneDrive .jp-full-screen,
#ShareoneDrive .jp-restore-screen{
  font-family: 'icomoon';
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-decoration: none !important;
  text-transform: none;
}

#ShareoneDrive .jp-playlist-item-url .jp-playlist-item-dl:before {
  content: "\e102";
}

#ShareoneDrive .jp-playlist-item-url .jp-playlist-item-sell:before {
  content: "\e103";
}

#ShareoneDrive .jp-full-screen:before {
  content: "\e100";
}

#ShareoneDrive .jp-restore-screen:before {
  content: "\e101";
}

#ShareoneDrive [class^="mticon-"], #ShareoneDrive [class*=" mticon-"] {
  font-family: 'metroplayericon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#ShareoneDrive .mticon-list-ul:before {
  content: "\f0ca";
}
#ShareoneDrive .mticon-cloud-download:before {
  content: "\f0ed";
}
#ShareoneDrive .mticon-play:before {
  content: "\e600";
}
#ShareoneDrive .mticon-pause:before {
  content: "\e601";
}
#ShareoneDrive .mticon-stop:before {
  content: "\e602";
}
#ShareoneDrive .mticon-backward:before {
  content: "\e603";
}
#ShareoneDrive .mticon-forward:before {
  content: "\e604";
}
#ShareoneDrive .mticon-play2:before {
  content: "\e605";
}
#ShareoneDrive .mticon-pause2:before {
  content: "\e606";
}
#ShareoneDrive .mticon-stop2:before {
  content: "\e607";
}
#ShareoneDrive .mticon-backward2:before {
  content: "\e608";
}
#ShareoneDrive .mticon-forward2:before {
  content: "\e609";
}
#ShareoneDrive .mticon-first:before {
  content: "\e60a";
}
#ShareoneDrive .mticon-last:before {
  content: "\e60b";
}
#ShareoneDrive .mticon-previous:before {
  content: "\e60c";
}
#ShareoneDrive .mticon-next:before {
  content: "\e60d";
}
#ShareoneDrive .mticon-eject:before {
  content: "\e60e";
}
#ShareoneDrive .mticon-volume-high:before {
  content: "\e60f";
}
#ShareoneDrive .mticon-volume-medium:before {
  content: "\e610";
}
#ShareoneDrive .mticon-volume-low:before {
  content: "\e611";
}
#ShareoneDrive .mticon-volume-mute:before {
  content: "\e612";
}
#ShareoneDrive .mticon-volume-mute2:before {
  content: "\e613";
}
#ShareoneDrive .mticon-volume-increase:before {
  content: "\e614";
}
#ShareoneDrive .mticon-volume-decrease:before {
  content: "\e615";
}
#ShareoneDrive .mticon-loop:before {
  content: "\e616";
}
#ShareoneDrive .mticon-loop2:before {
  content: "\e617";
}
#ShareoneDrive .mticon-loop3:before {
  content: "\e618";
}
#ShareoneDrive .mticon-shuffle:before {
  content: "\e619";
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 500px) {
  #ShareoneDrive div.jp-playlist li div{
    text-align: center;
    display: block;
  }
  #ShareoneDrive .media .jp-playlist-item-img{
    display: block;
    width: 100%;
  }
  #ShareoneDrive .media a.jp-playlist-item{
    display: block;
    width: initial;
  }
  #ShareoneDrive span.jp-playlist-item-url{
    display: block;
    width: 100%;
  }
  #ShareoneDrive .jp-playlist-item-dl, #ShareoneDrive .jp-playlist-item-sell{
    margin-left:6px;
  }
}