/*Fonts */
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?eegarh');
  src:url('fonts/icomoon.eot?#iefixeegarh') format('embedded-opentype'),
    url('fonts/icomoon.woff?eegarh') format('woff'),
    url('fonts/icomoon.ttf?eegarh') format('truetype'),
    url('fonts/icomoon.svg?eegarh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Colors */
#ShareoneDrive .jp-playlist-current .jp-playlist-item-song-title,
#ShareoneDrive .jp-playlist-current .jp-playlist-item-song-artist {
  color: #0e92c7;
}

/* Reset */
#ShareoneDrive .ShareoneDrive.media *{
  box-sizing: content-box;
}

#ShareoneDrive .ShareoneDrive.media ul{
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#ShareoneDrive .ShareoneDrive.media ul li{
  list-style: none;
  margin: 0;
}

#ShareoneDrive .ShareoneDrive.media{
  position: relative;
  font-family: 'Segoe UI', Verdana, sans-serif;
  clear: both;
  margin-bottom: 10px;
  line-height: 1.4;
  font-size: 13px;
  text-align: center;
}
#ShareoneDrive .ShareoneDrive.media a{
  color: #333;
  text-decoration: none;
}
#ShareoneDrive li:before{
  content: none !important;
}
#ShareoneDrive .left {
  float: left;
}
#ShareoneDrive .right {
  float: right;
}

/* No Solution */
#ShareoneDrive .jp-no-solution{
  padding: 20px;
}

/* Containers */
#ShareoneDrive .ShareoneDrive.media{
  margin: 5px 0px 30px;
  position: relative;
  z-index: 0;
  border-radius: 18px;
}

#ShareoneDrive .jp-video {
  position:relative;
  margin-bottom: 20px;
  background-color: #000;
}

#ShareoneDrive .jp-video-100 {
  max-width: 100%;
}

#ShareoneDrive .jp-video-270p {
  max-width:480px;
}

#ShareoneDrive .jp-video-360p {
  max-width:570px;
}

#ShareoneDrive .playerScreen .jp-video-play {
  display: block;
  position: absolute;
  z-index: 990;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.1);
}
#ShareoneDrive .playerScreen .jp-video-play:after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%; /* centers the left edge of the sprite */
  margin: -70px 0 0 -70px; /* this centers the actual sprite--this is half the sprite-window width. if you don't do this, the left edge will be centered instead of the center of the sprite.  */
  width: 140px; /* set window to see sprite through */
  height: 140px; /* set window to see sprite through */
  background: url("sprite.png") 2px -284px no-repeat; /*  set up the sprite. Obviously change this fto make each one different. */

}

#ShareoneDrive .playerScreen:hover > .jp-video-play {
  background-color: rgba(0,0,0,0);
}

/* Full Screen*/
#ShareoneDrive .jp-video-full {
  width:100%!important;
  position:static !important;
  position:relative;
  background: none
}
#ShareoneDrive.jp-video-full .jp-jplayer {
  top: 0;
  left: 0;
  position: fixed !important; position: relative; /* Rules for IE6 (full-screen) */
  overflow: hidden;
  z-index:1000;
}

#ShareoneDrive .jp-video-full .jp-gui{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  opacity: 0.8;
  z-index: 1000;
  background: none;
}

#ShareoneDrive .jp-video.jp-video-full .jp-playlist{
  display:none !important;
}

#ShareoneDrive .jp-video.jp-video-full .jp-jplayer img{
  position:absolute;
  border-radius: 0;
}
#ShareoneDrive .jp-video.jp-video-full .jp-jplayer video{
  border-radius: 0;
}
#ShareoneDrive .jp-video.jp-video-full .jp-video-play {
  height:100% !important;
}

#ShareoneDrive .jp-video.jp-video-full #ShareoneDrive .jp-video.jp-video-full{
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  height: 100% !important;
}
/* Layout Player */
#ShareoneDrive .jp-jplayer {
  position: relative;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  margin: 0 auto;
  opacity: 0;
}


#ShareoneDrive .jp-video .jp-jplayer img{
  position:absolute;
  height:100%;
}
#ShareoneDrive .jp-video .jp-jplayer video{

}

#ShareoneDrive .jp-video-full .jp-jplayer img{
  position: fixed;
  left: 0;
  top: 0;
}

/* Gui & Controls */
#ShareoneDrive .jp-gui{
  position: relative;
  height:46px;
  margin-top: -40px;
  padding: 0;
  z-index: 1001;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: initial!important
}

#ShareoneDrive .gui-container{
  position: absolute;
  height:40px;
  background: #191919;
  color: #646464;
  padding: 0;
  z-index: 1001;
  left: 0;
  right: 0;
  bottom: 0px;

}

#ShareoneDrive .jp-gui .jp-progress {
  position: absolute;
  display: block;
  width: 100%;
  top: -6px;
  left: 0;
  background: #323232;
}

#ShareoneDrive .jp-gui .jp-progress .jp-seek-bar {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 6px;
  background: #646464;
}

#ShareoneDrive .jp-gui .jp-progress .jp-seek-bar .jp-play-bar {
  display: block; 
  height: 6px;
  padding: 0;
  background: #0e92c7;
}

#ShareoneDrive .jp-gui .jp-play {
  display: block;
  width: 40px;
  height: 40px;
  background: url("sprite-dark.png") no-repeat 10px -60px;
  opacity: 0.8;
}
#ShareoneDrive .jp-gui .jp-play:hover,
#ShareoneDrive .jp-gui .jp-pause:hover {
  opacity: 1;
}
#ShareoneDrive .jp-gui .jp-pause {
  display: block;
  width: 40px;
  height: 40px;
  background: url("sprite-dark.png") no-repeat -40px -60px;
  opacity: 0.8;
}

#ShareoneDrive .jp-gui .seperator {
  display: inline-block;
  width: 2px;
  height: 40px;
  background: url("sprite-dark.png") no-repeat 0 0;
}

#ShareoneDrive .jp-gui .volumecontrol {
  display: block;
  width: 40px;
  height: 40px;
  background: url("sprite-dark.png") no-repeat 8px -105px;
  opacity: 0.8;
  overflow: hidden;
  word-wrap: none;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
#ShareoneDrive .jp-gui .volumecontrol:hover {
  opacity: 1;
  width: 115px;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
}
#ShareoneDrive .jp-gui .jp-volume-bar {
  display: block;
  margin: 19px 0 0 45px;
  background-color: #EBEBEB;
  background: rgba(255,255,255,0.1);
  width: 60px;
  cursor: pointer;
}

#ShareoneDrive .jp-gui .jp-volume-bar .currentVolume {
  position: relative;
  height: 5px;
  padding: 0;
}

#ShareoneDrive .jp-gui .jp-volume-bar .currentVolume .jp-volume-bar-value {
  display: block;
  height: 5px;
  padding: 0;
  background: #0e92c7;
}

#ShareoneDrive .jp-gui .jp-volume-bar .currentVolume a {
  display: block;
  position: absolute;
  top: -5px;
  margin-left: -2px;
  width: 3px;
  height: 16px;
  background: #dcdcdc;
}

#ShareoneDrive .jp-gui .jp-volume-bar .currentVolume a div {
  display: block;
  width: 3px;
  height: 16px;
}

#ShareoneDrive .jp-gui .jp-timer {
  display: block;
  float: left;
  line-height: 40px;
  margin: 0 10px;
}

#ShareoneDrive .jp-current-time {
  display: inline;
  text-align: left;
  color: #e6e6e6;
}
#ShareoneDrive .jp-gui  .jp-timer .seperate {
  display: inline;
  color: #787878;
}

#ShareoneDrive .jp-duration {
  display: inline;
  right: 0px;
  text-align: right;
  color: #787878;
}

#ShareoneDrive .jp-full-screen{
  display: block;
  float: right;
  width: 40px;
  height: 40px;
  background: transparent url("sprite-dark.png") no-repeat 8px -191px;
  opacity: 0.4;
}
#ShareoneDrive  .jp-full-screen:hover,
#ShareoneDrive  .jp-restore-screen:hover {
  opacity: 0.8;
}
#ShareoneDrive .jp-restore-screen{
  display: block;
  float: right;
  width: 40px;
  height: 40px;
  background: transparent url("sprite-dark.png") no-repeat 8px -229px;
  opacity: 0.4;
}

/* Playlist*/
#ShareoneDrive .jp-title .jp-playlist-item-song-title,
#ShareoneDrive .jp-title .jp-playlist-item-song-artist{
  font-size: 12px;
  margin-left: 0px;
  display: inline-block;
  color: #f0f0f0;
  padding: 0;
}

#ShareoneDrive .jp-playlist-item {
  text-decoration: none;
}

/* @group playlist */
#ShareoneDrive div.jp-playlist {
  width:100%;
  background-color: #F7F7F7;
  border: 1px solid #D2D2D2;
  position: relative;
  z-index: 1000;
}

#ShareoneDrive div.jp-playlist li {
  border-top: 1px solid #D2D2D2;
  margin: 0;
  padding: 7px 15px;
  word-wrap: break-word;
}

#ShareoneDrive div.jp-playlist li div{
  width: 100%;
  display: table-row;
}

#ShareoneDrive div.jp-playlist li.jp-playlist-current{
  box-shadow: 0 0 3px #B6ACAC;
}

#ShareoneDrive div.jp-playlist li:hover{
  box-shadow: 0 0 6px #B6ACAC;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */
#ShareoneDrive div.jp-playlist li:first-child {
  border-top:none;
}

#ShareoneDrive div.jp-playlist li:last-child {
  border-bottom:none;
}

#ShareoneDrive div.jp-playlist-item-song-title{
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 3px;
  padding-top: 5px;
  text-align: left;
  font-family: Arial;
}
#ShareoneDrive div.jp-playlist-item-song-artist{
  color: #333333;
  font-size: 11px;
  text-align: left;
  font-family: Arial;
}
#ShareoneDrive .audio .jp-playlist-item-song-artist:before{
  content: "- ";
  margin-left:5px;
}
#ShareoneDrive span.jp-playlist-item-url{
  display: table-cell;
  vertical-align: middle;
  width: 75px;
}

#ShareoneDrive .jp-playlist-item-dl,
#ShareoneDrive .jp-playlist-item-sell{
  display: inline-block;
  font-size: 16px;
  height: 16px;
  margin-left: 15px;
  margin-top: -2px;
  position: relative;
  vertical-align: middle;
  width: 16px;
}


#ShareoneDrive .jp-playlist-item-sell{
  top:1px;
}
#ShareoneDrive .media a.jp-playlist-item {
  display: table-cell;
  vertical-align: middle;
  padding:0 20px;
  width:100%;
}
#ShareoneDrive .media.audio.nocover a.jp-playlist-item {
  margin-left:0;
}
#ShareoneDrive .media .jp-playlist-item-img{
  min-width:50px;
  width:50px;
  display: table-cell;
  vertical-align: middle
}
#ShareoneDrive .media .jp-playlist-item-thumb{
  min-width:50px;
  width:50px;
  height:auto;
  border-radius: 5px;
}

#ShareoneDrive .media li div.jp-playlist-item-song-title,
#ShareoneDrive .media li div.jp-playlist-item-song-artist{
  display: block;
}

/* Video player */
#ShareoneDrive .video .gui-container{
  bottom: -40px;
}

#ShareoneDrive .video div.jp-playlist li {
  height: 50px;
}

/* Audio player */
#ShareoneDrive .media.audio .jp-gui{
  margin-top:0px;
}
#ShareoneDrive .media.audio.cover .jp-jplayer {
  overflow:hidden;
  border: none;
}
#ShareoneDrive .media.audio .jp-jplayer img{
  border-radius: 18px 18px 0 0;
  height:200px!important;
  width: auto!important;
  margin: 0 auto;
  position: relative;
  display:block!important;
  background-color: #EEF1F2;
}

#ShareoneDrive .media.audio.nocover .jp-jplayer{
  display:none!important;
}
#ShareoneDrive .media.audio.nocover .jp-playlist-item-img{
  display:none;
}
#ShareoneDrive .media.audio.nocover span.jp-playlist-item-url{
  top:3px;
}
#ShareoneDrive .audio .jp-full-screen {
  display: none !important;
}
#ShareoneDrive .audio .jp-restore-screen {
  display: none !important;
}

#ShareoneDrive .audio .rightblock{
  width:80px; 
}
#ShareoneDrive .audio .jp-progress {
  margin-right:100px;
}
#ShareoneDrive .audio  .rightblock .volumeBar{
  top: 21px;
}
#ShareoneDrive .audio .playerScreen{
  display:none;
}
/* Small screens */
@media only screen and (max-width: 320px){
  #ShareoneDrive .rightblock .volumeBar,
  #ShareoneDrive .rightblock .volumeText{
    display: none;
  }
  #ShareoneDrive .audio .jp-progress{
    margin-right: 0px;
  }
  #ShareoneDrive .video .jp-progress{
    margin-right: 30px;
  }
}

/* ICONS */
#ShareoneDrive .jp-playlist-item-dl,
#ShareoneDrive .jp-playlist-item-sell{
  font-family: 'icomoon';
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-decoration: none !important;
  text-transform: none;
}

#ShareoneDrive .jp-playlist-item-url .jp-playlist-item-dl:before {
  content: "\e102";
}

#ShareoneDrive .jp-playlist-item-url .jp-playlist-item-sell:before {
  content: "\e103";
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 500px) {
  #ShareoneDrive div.jp-playlist li div{
    text-align: center;
    display: block;
  }
  #ShareoneDrive .media .jp-playlist-item-img{
    display: block;
    width: 100%;
  }
  #ShareoneDrive .media a.jp-playlist-item{
    display: block;
    width: initial;
  }
  #ShareoneDrive span.jp-playlist-item-url{
    display: block;
    width: 100%;
  }
  #ShareoneDrive .jp-playlist-item-dl, #ShareoneDrive .jp-playlist-item-sell{
    margin-left:6px;
  }
}